<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.code.community.test.dao.AnswerMapper">

    <select id="getAnswersByQuestionId" parameterType="String" resultType="com.code.community.test.model.vo.AnswerVo">
        SELECT id,content from answer WHERE question_id = #{questionId}
    </select>

    <select id="getCorrectAnswersByQuestionIds" parameterType="java.util.List" resultType="com.code.community.test.model.vo.AnswerVo">
        select id,content from answer
        <where>
            correct = '1' and
            <if test="list != null">
                <!-- 循环传入的集合参数
                     collection:传入参数中的集合的变量名称
                     item:每次循环从集合中取出的数据保存到item中
                     open:循环开始拼接的字符串
                     close:循环结束拼接的字符串
                     separator:循环中拼接的分隔符
                 -->
                <foreach collection="list" item="questionId" open="question_id in(" close=")" separator=",">
                    #{questionId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAnswers" parameterType="java.util.List" resultType="com.code.community.test.model.po.Answer">
        select id,question_id from answer
        <where>
            state = '1' and
            <if test="list != null">
                <!-- 循环传入的集合参数
                     collection:传入参数中的集合的变量名称
                     item:每次循环从集合中取出的数据保存到item中
                     open:循环开始拼接的字符串
                     close:循环结束拼接的字符串
                     separator:循环中拼接的分隔符
                 -->
                <foreach collection="list" item="answerId" open="id in(" close=")" separator=",">
                    #{answerId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>